<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <aside class="create-login">
      {{#if loggedIn}}
      <form action="/:logout" method="get">
        <a href=""><button type="button" name="button">Logout</button></a>
      </form>
      <span>{{currentUser.username}}</span>
      {{else}}
      <a href="/login"><button type="button" name="button">Create Account</button></a>
      <a href="/login"><button type="button" name="button">Login</button></a>
      {{/if}}
    </aside>
    <main>
      <section class="splash">
        <img class="logo" src="images/fable.png" alt="">
        <p>A writing community created for sharpening the skills of storytellers.</p>
      </section>
      <hr>
      <section class="index-genres">
        <h4>Genres</h4>
        {{#each dataGenres}}
        <a href="/genre/{{genre}}">
          <button>{{genre}}</button>
        </a>
        {{/each}}

      </section>
      <footer>
        <p id='quote'><span></span></p>
      </footer>
    </main>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
