<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='../stylesheets/style.css'>
  </head>
  <body>
    <aside class="profile-home">
    <a href='/'><button type='button'>Home</button></a>
  </aside>

    <a href="/">
    <img class="logo-text" src="images/fableText.png" alt=""></a>

<div class='storyInfo'>
    <h2>{{currentUser.username}}</h2>

    <div class='myStoryArea'>
    <h4>My Stories</h4>
      {{#each userData}}
      <a href=/story/{{id}}>
        <div class='storyLink'>
          <h4>Title: {{title}} <span>Genre: {{genre}}</span></h4>
        </div>
      </a>
      {{/each}}
    </div>
  </div>


<div>
  <a href='/write'>
    <button class='createBtn'>Write a New Story</button>
  </a>
</div>

  </body>
</html>
