<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='../stylesheets/style.css'>
  </head>
  <body>
    <aside class="profileHome create-login">
      <a href="/write"><button type="button" name="button">Write a Story</button></a>
      <a href="/userProfile/{{currentUser.id}}"><button type="button" name="button">My Profile</button></a>
      <a href="/"><button type="button" name="button">Logout</button></a>
      <span>{{currentUser.username}}</span>
    </aside>
    <a href="/">
    <img class="logo-text" src="/images/fableText.png" alt=""></a>
    <div class="storyInfo">
    <h2>{{currentUser.username}}</h2>
    <div class="myStoryArea">
    <h4>My Stories</h4>
    {{#each userData}}
    <a href="/story/{{title}}">
    <div class="storyLink">
        <h4>Title: {{title}}, <span>Genre: {{genre}}</span></h4>
    </div>
  </a> 
    {{/each}}
  </div>
</div>

  </body>
</html>
