<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
    <aside class="create-login profileHome">
      {{#if loggedIn}}
      <a href="/write"><button type="button" name="button">Write a Story</button></a>
      <a href="/userProfile/{{currentUser.id}}"><button type="button" name="button">My Profile</button></a>
      <form action="/:logout" method="get">
        <a href=""><button type="button" name="button">Logout</button></a>
      </form>
      <span>{{currentUser.username}}</span>
      {{else}}
      <a href="/login"><button type="button" name="button">Create Account</button></a>
      <a href="/login"><button type="button" name="button">Login</button></a>
      {{/if}}
    </aside>
    <a href="/">
    <img class="logo-text" src="images/fableText.png" alt=""></a>

    <div class='storyHead'>
      <h2>{{title}}</h2>
      <p>Need some inspiration?</p>

        <form id='prompt'>
          <button type='submit'>Prompt Me</button>
        </form>
          <p id='promptDiv'>{{prompt}}</p>
    </div>

<div class='newStory'>

  <form id='storyForm' method="post" action="/write/createStory">
    <label>Title</label>
    <input name="title" type="text">
    <label>Author</label>
    <h4>{{currentUser.username}}</h4>
    <input name="user_id" value="{{currentUser.id}}" type="hidden">
    <label>Genre</label>
    <select name="genre_id">
      {{#each dataGenres}}
      <option value="{{id}}">{{genre}}</option>
      {{/each}}
    </select>
    <label>Story</label>
    <textarea name="story" type="text"></textarea>
    <button>Submit Story</button>
  </form>

</div>

<script src='/prompts.js'></script>
 <!-- <script src='app.js'></script> -->
  </body>
</html>
